@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: rgba(0,0,0,0.5);
}

a:hover{
    color: rgba(0,0,0,1 )
}

.fa-dumbbell{
    font-size: 40px;
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1{
    margin: 1rem 0;
}

.row{
    padding: 0;
    border: 2px solid #000;
    border-radius: 20px;
    overflow: hidden;
}

.row>*{
    padding: 0 !important;
}

.img-col1{
    flex: 0 0 auto;
    width: 50%;
    transition: all 0.5s ease-in-out;
    height: 400px;
    position: relative;
}

.img-col1:hover .fa-chevron-right{
    display: flex;
}

.img-col2{
    flex: 0 0 auto;
    width: 25%;
    transition: all 0.5s ease-in-out;
    height: 400px;
    position: relative;
}

.img-col2:hover .fa-chevron-right{
    display: flex;
}

.img-col3{
    flex: 0 0 auto;
    width: 25%;
    transition: all 0.5s ease-in-out;
    height: 400px;
    position: relative;
}

.img-col3:hover .fa-chevron-right{
    display: flex;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}

h3{
    font-size: 20px;
}

.fa-chevron-right{
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


